.container-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    padding: 45px 61px;
}

h1 {
    font-size: 4.8rem;
}

input {
    margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

a {
    font-size: 1.6rem;
}

button {
    margin-bottom: 30px;
}