.mb__sm {
  margin-bottom: 5px;
}

.mb__md {
  margin-bottom: 10px;
}

.mb__lg {
  margin-bottom: 15px;
}

.mt__sm {
  margin-top: 5px;
}

.mt__md {
  margin-top: 10px;
}

.mt__lg {
  margin-top: 15px;
}

.ml__sm {
  margin-left: 5px;
}

.ml__md {
  margin-left: 10px;
}

.ml__lg {
  margin-left: 15px;
}

.mx__sm {
  margin: 0px 5px;
}

.mx__md {
  margin: 0px 10px;
}

.mx__lg {
  margin: 0px 15px;
}

.my__sm {
  margin: 5px 0px;
}

.my__md {
  margin: 10px 0px;
}

.my__lg {
  margin: 15px 0px;
}